<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.quiz.dao.question.impl.csv.QuestionDaoCsv">
        <constructor-arg name="questionFilePath" value="/ru/otus/quiz/quiz/quiz.csv"/>
    </bean>
    <bean id="questionService" class="ru.otus.quiz.service.question.impl.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>
    <bean id="asker" class="ru.otus.quiz.service.io.ask.impl.CmdAsker"/>
    <bean id="printer" class="ru.otus.quiz.service.io.out.impl.CmdPrinter"/>

    <bean id="playerDao" class="ru.otus.quiz.dao.player.impl.CmdPlayerDao">
        <constructor-arg name="asker" ref="asker"/>
    </bean>

    <bean id="playerService" class="ru.otus.quiz.service.player.impl.PlayerServiceImpl">
        <constructor-arg name="playerDao" ref="playerDao"/>
    </bean>
    <bean id="resultCalculationService" class="ru.otus.quiz.service.result.impl.ResultCalculationServiceImpl">
        <constructor-arg name="countCorrectAnswers" value="4"/>
    </bean>

    <bean id="quizProcessor" class="ru.otus.quiz.service.quiz.impl.CmdQuizProcessor">
        <constructor-arg name="asker" ref="asker"/>
        <constructor-arg name="playerService" ref="playerService"/>
        <constructor-arg name="questionService" ref="questionService"/>
    </bean>

    <bean id="resultWriter" class="ru.otus.quiz.service.resultwriter.impl.ResultWriterImpl">
        <constructor-arg name="printer" ref="printer"/>
    </bean>
    <bean id="application" class="ru.otus.quiz.service.application.Application">
        <constructor-arg name="quizProcessor" ref="quizProcessor"/>
        <constructor-arg name="resultCalculationService" ref="resultCalculationService"/>
        <constructor-arg name="resultWriter" ref="resultWriter"/>
    </bean>
</beans>